.lead {
  max-width: 984px;
  margin: 3.5rem auto 0;
}

@media screen and (max-width: 1024px) {
  margin: 2.875rem auto 0;
}

@media screen and (max-width: 768px) {
    margin: 6.25rem auto 0;
  }
  @media screen and (max-width: 425px) {
    margin: 3rem auto 0;
  }