.lead__subtitle {
  max-width: 640px;
  margin: 2rem auto 0;
  text-align: center;
  font-size: 1.875rem;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: calc((100vw - 20rem) / (48 - 20) * (1.875 - 1) + 1.875rem); 
  }
}