.cover__background {
  display: block;
  max-width: 1184px;
  height: 740px;
  background-image: url(../../../images/cover/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}