.cover__title {
  max-width: 560px;
  z-index: 2;
  margin: 0 auto;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.05;
  }
}